*{
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: rgba(245, 210, 238, 0.934);
}
h2{
    padding: 20px;
    height: 10%;
    text-align: center;
    font-size: 30px;
}
.registro{
    font-size: 20px;
    text-align: justify;
    background-color: white;
}
div{
    padding: 3%;
    text-align: justify;
    border-radius: 5px;
}